# <center>Data Characteristics</center>
## <center>Beakcheol Jang, Inhwan Kim and Jong Wook Kim </center>

### Abstract

Data on influenza-like illness (ILI) from 2010 to 2020 week 20 are included. The name of each column represents the year and the index represents the week. It also contains web data from the 35th week of 17 years to the 20th week of 20 years. For the United States and Australia, the dataset consists of influenza-related words in English and the rate of searches for those words from Google Trends. In the case of Korea, it consists of words related to influenza in Korean, the number of news and tweets containing the word, and the search rate of the word  from Naver Trends.

Let's check the data using the pandas library.

In [1]:
import pandas as pd

Let's take a look at the head and tail of ILI data from the US.

In [2]:
ILI_data = pd.read_csv('ILINet_US_ILI_rate.csv', index_col=0)

In [3]:
ILI_data.head(5)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,19.8284,26.9151,17.6709,49.6368,42.1120,40.7898,19.8859,30.8102,53.5765,36.3095,62.1936
2,18.2749,29.1063,15.4340,46.9072,34.6492,39.3762,19.8985,30.1875,55.2437,31.3643,50.6711
3,19.2606,34.9232,16.4762,47.0473,33.1698,41.5076,21.0710,34.0446,63.4528,33.6213,53.5768
4,19.2495,40.0370,16.8430,41.6460,32.4070,38.7899,21.9256,35.2869,70.1811,38.8115,60.2274
5,20.8877,44.3534,18.6354,36.9533,28.8598,34.5794,23.0014,41.0665,77.8090,45.2235,68.7357

In [4]:
ILI_data.tail(5)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
49,20.1426,15.1811,29.7657,22.1374,26.0749,18.1945,20.0292,24.9504,22.9962,33.1281,NaN
50,25.5659,16.6429,36.2552,24.1674,34.1780,19.6571,22.7731,32.0050,27.3181,38.6928,NaN
51,33.8185,18.5274,45.5320,30.3071,44.6555,24.2021,29.1465,44.3807,32.4012,50.2613,NaN
52,34.3172,21.2413,60.2598,43.8724,61.1497,24.1083,35.4919,54.6361,41.8077,71.5315,NaN
53,NaN,NaN,NaN,NaN,53.0979,NaN,NaN,NaN,NaN,NaN,NaN

As you can see, the column name means year and index means week. In 2020, data only exists until the 20th week.

Let's take a look at the rate of US keyword searches obtained from Google Trends.

In [5]:
US_trends = pd.read_csv('US_trends.csv')

In [6]:
US_trends

,weeks,influenza,H1N1 flu,swine flu,Flu,H1N1,seasonal flu,H1N1 virus,flu virus,H1N1 swine flu,...,polio epidemic,Afluria seasonal flu,hemolytic uremic syndrome HUS,croup,Jeff Duchin,inactivated vaccine,fevers aches,invasive pneumococcal disease,Sudden Acute Respiratory Syndrome,commonly infect humans
0,17-35,0,0,0,6,0,0,0,1,0,...,1,0,0,40,0,46,0,0,0,0
1,17-36,1,0,0,8,0,0,0,2,0,...,0,0,0,50,0,50,14,14,0,0
2,17-37,1,0,0,9,0,0,0,2,0,...,0,0,0,51,0,46,14,14,0,0
3,17-38,1,0,0,11,0,0,0,2,0,...,0,0,0,58,0,87,0,0,0,0
4,17-39,1,0,0,12,0,0,0,2,0,...,0,0,0,68,0,54,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,20-16,2,0,1,24,2,3,1,10,1,...,5,0,0,8,1,76,0,0,0,0
139,20-17,2,0,1,19,1,2,1,10,1,...,8,0,0,10,0,41,0,0,0,0
140,20-18,2,0,1,18,1,2,1,8,1,...,6,0,0,5,0,56,0,11,0,0
141,20-19,2,0,1,16,1,2,1,6,1,...,7,0,0,7,0,28,0,0,0,0
142,20-20,2,0,1,15,1,2,1,5,1,...,5,0,0,8,0,36,11,0,0,0

As you can see, the week column is string data in the form of year-week, and the name of each column indicates the corresponding keyword. The total number of words is 1000, and the data has 1001 columns including the week column.

Finally, we will check the social media data of Korea.

In [7]:
KR_sns = pd.read_csv('KR_sns.csv')

In [8]:
KR_sns

,weeks,인플루엔자,콜레라,유행병,홍역,뎅기열,출혈열,치사율,광견병,장티푸스,...,새우,재조합,괴저,극심,미코박테륨,저항성,쿠바인,모야,맹골수도,일교차
0,17-35,73,4,1,6,5,6,25,21,11,...,13,0,5,10,0,0,0,15,0,56
1,17-36,52,9,0,4,0,0,23,11,9,...,5,0,0,5,0,1,0,14,0,60
2,17-37,47,5,0,10,1,1,16,19,9,...,15,0,0,7,0,2,0,12,0,61
3,17-38,39,6,5,6,1,1,21,17,12,...,16,0,0,7,0,3,0,9,0,39
4,17-39,67,5,2,7,1,2,17,17,9,...,5,0,0,12,0,1,0,3,0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,20-16,244,26,14,32,3,32,56,37,18,...,19,0,1,37,0,7,0,5,0,51
139,20-17,254,15,6,24,0,45,55,57,11,...,32,0,0,31,0,1,0,14,0,73
140,20-18,151,15,9,4,0,24,43,39,18,...,19,0,0,53,0,7,0,11,0,46
141,20-19,229,17,3,41,6,36,41,31,21,...,16,2,0,27,0,7,0,22,0,44
142,20-20,289,13,4,16,7,33,38,29,16,...,30,1,0,39,0,5,0,8,1,46

As you can see, the structure is the same as the US ILI data, but the difference from the google trends data is that it is the number of tweets containing the keyword, not the search rate.